<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/register-program-form">Register</a></li>
                <li class="breadcrumb-item active" aria-current="page">Error</li>
            </ol>
        </nav>
    </div>

    <hr>

<div style="padding-right: 100px; padding-left:10px;" >
  <h4>Student alredy Register to this course</h4>
</div>

</body>
</html>