<hr>

<div class="row">

<div class="col-3">
<div class="card" style="width: 18rem;">
  <img src="https://icon-library.com/images/profile-icon-png/profile-icon-png-24.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Student</h5>
    <p class="card-text">You have the capability to add new students, update existing student records, and remove students from the system.</p>
    <a href="/manege-students" class="btn btn-primary">Manege Student</a>
  </div>
</div>
</div>



<div class="col-3">
<div class="card" style="width: 18rem;">
  <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Programs</h5>
    <p class="card-text">You have the capability to add new Programes, update existing program records, and remove programs from the system.</p>
    <a href="/manege-programs" class="btn btn-primary">Manage Programs</a>
  </div>
</div>
</div>


<div class="col-3">
  <div class="card" style="width: 18rem;">
    <img src="https://static.thenounproject.com/png/517919-200.png" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Register</h5>
    <p class="card-text">Facilitate the enrollment process by allowing the registration of students for various academic programs </p> 
    <a href="/register-program-form" class="btn btn-primary">Register</a>
  </div>
</div>
</div>

<div class="col-3">
  <div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeMncqT4YculACz6UkXGxR9QjJf3CQceh9UyVnozOEBLBLSX5_VVnYKHAqp-k6X5B_BUU&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">Show Data</h5>
    <p class="card-text">Show a roster of students registered for a specific program. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </p>
    <a href="/register-data" class="btn btn-primary">Show Data</a>
  </div>
</div>
</div>
</div>

<hr>